@use './colors.scss' as *;
@use './variables.scss' as *;

#about {
    width: 100%;
    height: max-content;
    padding-top: 7rem;

}

.about-section {
    width: 80%;
    height: fit-content;
    background-color: #ffffff15;

    box-shadow: $shadow;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 5rem;
    border-radius: 2rem;

}

.section-1 {
    width: 380px;
    line-height: 0;
    text-align: center;
    padding: 2rem 0 2rem 0;
    border: 1px solid #ffffff30;
    margin: 2rem 1rem 2rem 2rem;

    h1 {
        color: $subtitle-color;
        font-family: $subtitle-font;
    }

    p {
        color: aliceblue;
        opacity: 0.5;
        padding-top: 12px;
    }

}

.desc {
    width: 60%;
    height: max-content;
    margin-top: 5px;


    span {
        display: flex;
        margin: 25px 1rem 1rem 0;

        p,
        a {
            margin: 0;
            color: white;
            font-size: 1.4vw;           
            text-align: justify;
        }

        p:first-child {
            margin-right: 12px;
            min-width: 165px;
            height: fit-content;
            width: max-content;
            // background-color: palegreen;
            border-radius: 1rem;
            opacity: 0.4;
            // padding-left: 12px;

        }

        p:last-child {
            padding: 0px 2rem 0px 1rem;
        }

    }

    .skill-pro {
        display: flex;
    }

    .skill-pro>* {
        width: max-content;
        width: 12vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color;

        padding: 6px 0 6px 2rem;
        background-color: #52325c2c;
        border-radius: 2rem;
        font-weight: lighter;

    }

    .skill-pro>*:hover {
        border: 1px solid $indigo;
        box-shadow: $shadow;
    }



    // .edu {
    //     padding-top: 6px;

    //     p {

    //         padding: 0;
    //         line-height: 12px;
    //     }

    //     .time {
    //         display: flex;
    //         gap: 2px;
    //     }
    // }

}

@media (min-width: $large-screen) {
    .about-section {
        width: 70%;


        .desc {
            font-size: 1.4vw;
        }

    }

}

@media (max-width: $medium-screen) {
    .about-section {
        width: 90%;

        img {
            width: 25vw;
        }
    }

    .section-1 {
        width: 30vw;
        min-width: 28vw;
    }

    .desc {
        span {
            p, a {
                font-size: large;
            }
            p:first-child {
                width: 70px;
              
            }
        }
      
    }

}