@use './colors.scss' as *;
@use './variables.scss' as *;

#about {
    width: 100%;
    height: max-content;
    padding-top: 7rem;

}

.about-section {
    width: 80%;
    height: fit-content;
    background-color: #75007507;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    border-radius: 2rem;

}

.section-1 {
    width: 380px;
    line-height: 0;
    text-align: center;
    padding: 2rem 0 2rem 0;
    border: 1px solid #ffffff30;
    margin: 2rem 1rem 2rem 2rem;

    h1 {
        color: $subtitle-color;
        font-family: $subtitle-font;
    }

    p {
        color: aliceblue;
        opacity: 0.5;
        padding-top: 12px;
    }

}

.desc {
    width: 60%;
    height: 52vh;
    margin-top: -20px;

    h3 {
        line-height: 0;
        color: aliceblue;
        opacity: 0.5;
        font-size: 24px;
        font-family: $subtitle-font;
        font-weight: 100;
    }

    p {
        padding: 12px 32px 12px 0px;
        color: white;
        opacity: 0.8;
        line-height: 1.7rem;
        font-size: 1.4vw;
        text-align: justify;
    }

    .edu {
        padding-top: 6px;

        p {

            padding: 0;
            line-height: 12px;
        }

        .time {
            display: flex;
            gap: 2px;
        }
    }

}

@media (min-width: $large-screen) {
    .about-section {
        width: 70%;
    }

}

@media (max-width: $medium-screen) {
    .about-section {
        width: 90%;
        img {
            width: 25vw;
        }
    }
    .section-1 {
        width: 30vw;
        min-width: 28vw;
    }

    .desc {
        p {
            padding: 8px 8px 8px 0;
            color: white;
            opacity: 0.8;
            line-height: 1.7rem;
            font-size: 16px;
            text-align: justify;
        }
    }


}