@use './colors.scss' as *;
@use './variables.scss' as *;

#skill {
    height: max-content;
    margin-bottom: 8rem;
}

.head {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
        color: $title-color;
        line-height: 0;
        font-family: $font-style;
        font-size: 3.5em;

    }

    img {
        margin-top: -3rem;
    }

    .head-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            padding-left: 3rem;
            font-size: 6vw;
            font-style: italic;
            color: #ffffff55;
            font-family: $font-style;
            text-align: center;
        }
    }
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;

    h2 {
        color: $subtitle-color;
        text-align: center;
        font-family: $subtitle-font;
        font-weight: lighter;
        font-size: 24px;
    }

    .skill-item {

        width: 27%;
        height: 50vh;
        border-image: linear-gradient(to top, $background, $indigo, $background) 1;
        border-right: 1px solid peru;
        padding-left: 1rem;
    }

    .skill-item:last-child {
        border-right: none;
    }

    .item {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        height: max-content;
        margin-bottom: .75em;

        h3 {
            color: $subtitle-color;
            line-height: 0;
            margin-top: 8px;

        }

        hr {
            height: 18px;
            background-color: $light-purple;
            width: 21vw;
            border-radius: 1rem;
            opacity: 0.2;

        }

        .percent {
            margin-top: -27px;
            width: var(--i);
            height: 18px;
            border-radius: 1rem;
            background-color: palegreen;
        }
    }
}

.soft-skills {
    padding-top: 6rem;
    width: 100%;
    height: 42vw;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    h2 {

        position: absolute;
        left: 0;
        right: 0;
        top: 35vw;
        font-size: 3.2vw;
        font-style: italic;
        color: #ffffff55;
        font-family: $font-style;
        text-align: center;
    }

    .skill-items {
        width: max-content;

    }

    .container:hover {
        scale: 1.05;
        transition-duration: 500ms;
        z-index: 1;
    }

    .container {
        background-image: url('../assets/5Xyg.gif');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 15vw;
        right: 0%;
        width: max-content;
        height: max-content;
        border-radius: 50%;
        box-shadow: $shadow;
        border: 2px solid $indigo;
        transform: rotate(calc(360deg/6 * var(--i)));
        transform-origin: 350px;
        overflow: hidden;


        .item {
            transform: rotate(calc(-360deg/6 * var(--i)));
            width: 180px;
            height: 180px;
            overflow: hidden;

            img {
                position: relative;
                top: 2em;
                margin: auto;
                width: auto;
                display: flex;
            }

            h3 {
                position: relative;
                top: 2em;
                color: $text-color;
                font-family: $subtitle-font;
                font-weight: lighter;
                margin: auto;
                text-align: center;
                font-size: 14px;

            }
        }

    }
}

@media (max-width: $medium-screen) {
    .head {
        h1 {
            font-size: 7vw;
        }

        .head-section {
            display: flex;
            flex-direction: column;

            p {
                margin-top: -3rem;
            }
        }
    }

    .skills {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;


        .skill-item {

            height: fit-content;
            width: 100%;
        }

        .item {
            width: 100%;

            hr {
                width: 78vw;
            }
        }


    }

    .soft-skills {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: max-content;

        h2 {
            position: relative;
            top: 0;
            padding: 8px;
            font-size: 7vw
        }

        .skill-items {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;

            .container {
                position: relative;
                transform: none;
                display: flex;
                left: 0;



                .item {
                    transform: none;
                }
            }
        }




    }

}

@media (min-width: $large-screen) {
    .soft-skills {
        .container {
            position: absolute;
            left: 27vw;
            right: 0%;
            background-color: #ffffff05;
        }

        h2 {
            top: 30vw;
        }
    }

}