@use './colors.scss' as *;
@use './variables.scss' as *;

body {
    width: 100%;
    background-color: $background;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // padding: 0 2rem 2rem;
}

.cursor {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}

.outer {
    border: 1px solid $title-color;
}

.inner {
    background: $title-color;
    opacity: 0.2;
    transition: 250ms ease-out;
}

.cursor.hover {
    transform: translate(-50%, -50%) scale(4);
    transition: transform 250ms ease-in-out;
}

.inner.hover {
    background: #f7f7f7;
    mix-blend-mode: difference;
}

nav {
    position: fixed;
    top: 0;
    left: 0px;
    display: flex;
    padding-top: 6px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-image: linear-gradient(to right, $background, $indigo, $background) 1;
    border-bottom: 0.1ch solid $light-purple;
    border-width: 1px;
    background-color: $background;
    z-index: 2;
    cursor: pointer;


    p {
        color: white;
        padding-left: 5rem;
        font-size: 28px;
        line-height: 0%;
        font-weight: 400;
        font-family: $font-style;
    }


    ul {
        display: flex;
        padding-right: 4rem;
        z-index: 9999;
    }

    li {
        width: 120px;
        list-style: none;
        font-size: large;
        text-align: center;
        padding: 5px;
        z-index: 9999;
    }

    li:hover>* {
        color: $indigo;
        font-weight: bold;

    }

    .menu-icon {
        padding-right: 1.5rem;
        display: none;
    }


}



@media (max-width: $medium-screen) {
    nav {
        p {
            display: none;
            font-size: 4vw;
            padding-left: 1rem;
        }
        ul {
            font-size: 2vw;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        li {
            width: 12vw;
            text-align: center;
        }

        // .menu-icon {
        //     display: block;
        // }
    }

}