@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
$font-style: 'Black Ops One', cursive;
$subtitle-font: 'Black Ops One', cursive;

$small-screen: 640px;
$medium-screen: 900px;
$large-screen: 1024px;